# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
docs/poc/mini_client/jecaudal/mini_client
docs/poc/mini_serv/jecaudal/mini_serv
docs/poc/mini_serv/jecaudal/mini_server
docs/poc/directories/ft_mkdir
docs/poc/directories/ft_opendir
docs/poc/directories/ft_rmdir
