# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode
# Webserv-specific executables
docs/poc/directories/ft_mkdir
docs/poc/directories/ft_rmdir
docs/poc/directories/ft_opendir

docs/poc/mini_client/*/mini_client
docs/poc/mini_serv/*/mini_serv
docs/poc/mini_serv/*/mini_server
docs/poc/select/*/select
docs/poc/strtime/strtime
